<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhatc.herewhere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herewhere">
        <service
            android:name=".herewhereService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MotionSensorService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".MyinfoActivity" />
        <activity android:name=".UpdateinfoActivity" />
        <activity android:name=".ReadActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".NFCtagActivity" />
        <activity android:name=".MotionActivity" />
        <activity android:name=".MessageActivity" />
    </application>

</manifest>